nav{
   margin:0 auto;
   text-align: center;
   color:#000;
   /*background:#b2b580;*/
   padding:30px 50px 8px 20px;
}
button{
   font:bold 1em/1em Arial, Helvetica, sans-serif;
   font: size 20px;
   text-align: center;
   padding: 10px;
   color:  ivory;
   background-color:#1fe0;
}
body{
   margin:0;
   padding:0;
   background: url(./images/bgpokemon.jpg) no-repeat center fixed; 
   background-size: cover; 
 }
#resultElmt{
/*background-color: white;*/
color: black;
text-align: center;
background-position: center;
}
#tabList{
   background-color: ivory; 
   block-size: auto;
writing-mode: horizontal-tb;
}
